<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MathSymbolConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MathSymbolConverter.Properties.Settings>
            <setting name="SymbolAliasList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>calpha	Α</string>
                        <string>alpha	α</string>
                        <string>cbeta	Β</string>
                        <string>beta	β</string>
                        <string>cgamma	Γ</string>
                        <string>gamma	γ</string>
                        <string>cdelta	Δ</string>
                        <string>delta	δ</string>
                        <string>cepsilon	Ε</string>
                        <string>epsilon	ε</string>
                        <string>czeta	Ζ</string>
                        <string>zeta	ζ</string>
                        <string>ceta	Η</string>
                        <string>eta	η</string>
                        <string>ctheta	Θ</string>
                        <string>theta	θ</string>
                        <string>ciota	Ι</string>
                        <string>iota	ι</string>
                        <string>ckappa	Κ</string>
                        <string>kappa	κ</string>
                        <string>clambda	Λ</string>
                        <string>lambda	λ</string>
                        <string>cmu	Μ</string>
                        <string>mu	μ</string>
                        <string>cnu	Ν</string>
                        <string>nu	ν</string>
                        <string>cxi	Ξ</string>
                        <string>xi	ξ</string>
                        <string>comicron	Ο</string>
                        <string>omicron	ο</string>
                        <string>cpi	Π</string>
                        <string>pi	π</string>
                        <string>crho	Ρ</string>
                        <string>rho	ρ</string>
                        <string>csigma	Σ</string>
                        <string>sigma	σ</string>
                        <string>varsigma	ς</string>
                        <string>ctau	Τ</string>
                        <string>tau	τ</string>
                        <string>cupsilon	Υ</string>
                        <string>upsilon	υ</string>
                        <string>cphi	Φ</string>
                        <string>phi	φ</string>
                        <string>cchi	Χ</string>
                        <string>chi	χ</string>
                        <string>cpsi	Ψ</string>
                        <string>psi	ψ</string>
                        <string>comega	Ω</string>
                        <string>omega	ω</string>
                        <string>supone	¹</string>
                        <string>suptwo	²</string>
                        <string>supthree	³</string>
                        <string>supfour	⁴</string>
                        <string>supfive	⁵</string>
                        <string>supsix	⁶</string>
                        <string>supseven	⁷</string>
                        <string>supeight	⁸</string>
                        <string>supnine	⁹</string>
                        <string>supzero	⁰</string>
                        <string>subone	₁</string>
                        <string>subtwo	₂</string>
                        <string>subthree	₃</string>
                        <string>subfour	₄</string>
                        <string>subfive	₅</string>
                        <string>subsix	₆</string>
                        <string>subseven	₇</string>
                        <string>subeight	₈</string>
                        <string>subnine	₉</string>
                        <string>subzero	₀</string>
                        <string>supplus	⁺</string>
                        <string>supminus	⁻</string>
                        <string>supequal	⁼</string>
                        <string>supparentl	⁽</string>
                        <string>supparentr	⁾</string>
                        <string>subplus	₊</string>
                        <string>subminus	₋</string>
                        <string>subequal	₌</string>
                        <string>subparentl	₍</string>
                        <string>subparentr	₎</string>
                        <string>int	∫</string>
                        <string>iint	∬</string>
                        <string>iiint	∭</string>
                        <string>oint	∮</string>
                        <string>oiint	∯</string>
                        <string>oiiint	∰</string>
                        <string>partial	∂</string>
                        <string>pm	±</string>
                        <string>mp	∓</string>
                        <string>times	×</string>
                        <string>div	÷</string>
                        <string>neq	≠</string>
                        <string>le	≤</string>
                        <string>ge	≥</string>
                        <string>ll	≪</string>
                        <string>gg	≫</string>
                        <string>approx	≈</string>
                        <string>cong	≅</string>
                        <string>infin	∞</string>
                        <string>therefore	∴</string>
                        <string>because	∵</string>
                        <string>in	∈</string>
                        <string>notin	∉</string>
                        <string>ni	∋</string>
                        <string>subset	⊂</string>
                        <string>supset	⊃</string>
                        <string>subseteq	⊆</string>
                        <string>supseteq	⊇</string>
                        <string>cup	∪</string>
                        <string>cap	∩</string>
                        <string>emptyset	ø</string>
                        <string>permil	‰</string>
                        <string>top	⊤</string>
                        <string>perp	⊥</string>
                        <string>vdash	⊢</string>
                        <string>models	⊨</string>
                        <string>triangle	△</string>
                        <string>angle	∠</string>
                        <string>overarc	⌒</string>
                        <string>equiv	≡</string>
                        <string>sim	∽</string>
                        <string>degree	°</string>
                        <string>sqrt	√</string>
                        <string>parallel	∥</string>
                        <string>forall	∀</string>
                        <string>exists	∃</string>
                        <string>nexists	∄</string>
                        <string>rightarrow	→</string>
                        <string>leftarrow	←</string>
                        <string>leftrightarrow	↔</string>
                        <string>crightarrow	⇒</string>
                        <string>cleftrightarrow	⇔</string>
                        <string>land	∧</string>
                        <string>lnot	¬</string>
                        <string>lor	∨</string>
                        <string>barwedge	⊼</string>
                        <string>veebar	⊻</string>
                        <string>oplus	⊕</string>
                        <string>otimes	⊗</string>
                        <string>cdot	⋅</string>
                        <string>nabla	∇</string>
                        <string>ldots	…</string>
                        <string>ast	∗</string>
                        <string>circ	∘</string>
                        <string>propto	∝</string>
                        <string>mathbbn	ℕ</string>
                        <string>mathbbz	ℤ</string>
                        <string>mathbbq	ℚ</string>
                        <string>mathbbr	ℝ</string>
                        <string>mathbbc	ℂ</string>
                        <string>dotcx	Ẋ</string>
                        <string>ddotcx	Ẍ</string>
                        <string>dotx	ẋ</string>
                        <string>ddotx	ẍ</string>
                        <string>dotcy	Ẏ</string>
                        <string>ddotcy	Ÿ</string>
                        <string>doty	ẏ</string>
                        <string>ddoty	ÿ</string>
                        <string>dotcz	Ż</string>
                        <string>ddotcz	Z̈</string>
                        <string>dotz	ż</string>
                        <string>ddotz	z̈</string>
                        <string>supa	ᵃ</string>
                        <string>supb	ᵇ</string>
                        <string>supc	ᶜ</string>
                        <string>supd	ᵈ</string>
                        <string>supe	ᵉ</string>
                        <string>supf	ᶠ</string>
                        <string>supg	ᵍ</string>
                        <string>suph	ʰ</string>
                        <string>supi	ⁱ</string>
                        <string>supj	ʲ</string>
                        <string>supk	ᵏ</string>
                        <string>supl	ˡ</string>
                        <string>supm	ᵐ</string>
                        <string>supn	ⁿ</string>
                        <string>supo	ᵒ</string>
                        <string>supp	ᵖ</string>
                        <string>supr	ʳ</string>
                        <string>sups	ˢ</string>
                        <string>supt	ᵗ</string>
                        <string>supu	ᵘ</string>
                        <string>supv	ᵛ</string>
                        <string>supw	ʷ</string>
                        <string>supx	ˣ</string>
                        <string>supy	ʸ</string>
                        <string>supz	ᶻ</string>
                        <string>supca	ᴬ</string>
                        <string>supcb	ᴮ</string>
                        <string>supcc	ꟲ</string>
                        <string>supcd	ᴰ</string>
                        <string>supce	ᴱ</string>
                        <string>supcf	ꟳ</string>
                        <string>supcg	ᴳ</string>
                        <string>supch	ᴴ</string>
                        <string>supci	ᴵ</string>
                        <string>supcj	ᴶ</string>
                        <string>supck	ᴷ</string>
                        <string>supcl	ᴸ</string>
                        <string>supcm	ᴹ</string>
                        <string>supcn	ᴺ</string>
                        <string>supco	ᴼ</string>
                        <string>supcp	ᴾ</string>
                        <string>supcq	ꟴ</string>
                        <string>supcr	ᴿ</string>
                        <string>supct	ᵀ</string>
                        <string>supcu	ᵁ</string>
                        <string>supcv	ⱽ</string>
                        <string>supcw	ᵂ</string>
                        <string>suba	ₐ</string>
                        <string>sube	ₑ</string>
                        <string>subh	ₕ</string>
                        <string>subi	ᵢ</string>
                        <string>subj	ⱼ</string>
                        <string>subk	ₖ</string>
                        <string>subl	ₗ</string>
                        <string>subm	ₘ</string>
                        <string>subn	ₙ</string>
                        <string>subo	ₒ</string>
                        <string>subp	ₚ</string>
                        <string>subr	ᵣ</string>
                        <string>subs	ₛ</string>
                        <string>subt	ₜ</string>
                        <string>subu	ᵤ</string>
                        <string>subv	ᵥ</string>
                        <string>subx	ₓ</string>
                        <string>supalpha	ᵅ</string>
                        <string>supbeta	ᵝ</string>
                        <string>supgamma	ᵞ</string>
                        <string>supdelta	ᵟ</string>
                        <string>supepsilon	ᵋ</string>
                        <string>suptheta	ᶿ</string>
                        <string>supiota	ᶥ</string>
                        <string>supcphi	ᶲ</string>
                        <string>supphi	ᵠ</string>
                        <string>supchi	ᵡ</string>
                        <string>subbeta	ᵦ</string>
                        <string>subgamma	ᵧ</string>
                        <string>subrho	ᵨ</string>
                        <string>subphi	ᵩ</string>
                        <string>subchi	ᵪ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfigKeyValueList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>IsPopup	True</string>
                        <string>PopupSize	165</string>
                        <string>PopupLocation	3</string>
                        <string>PopupOpacity	0.5</string>
                        <string>IsPopupColorBlack	True</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </MathSymbolConverter.Properties.Settings>
    </userSettings>
</configuration>